.headers{
    margin: 2rem auto;
    text-align: center;
    background-image: url(../../images/pattern-circles.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    h1{
       color: $dark-saturated-blue; 
       font-size: 25px;
       font-weight:$font-heavy;
       margin-bottom: 6px;
    }
    p{
       margin: 0rem 1.5rem;
    }
}